@using Service.Application.DTOs;
@model List<TableDTOs>

@*@using PagedList.Core.Mvc;
@model PagedList.Core.IPagedList<TableDTOs>*@

@{
    int j = 0;
}

<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>ID</th>
            <th>TransID</th>
            <th rowspan="1">
                AgentName<br />
                CEANO
            </th>
            <th>Project Name</th>
            <th>SubDate / Rcv Date</th>
            <th scope="col">
                Transacted Price <br />
                Trasaction Column
            </th>
            <th scope="col">
                Gross Value <br />
                Net Value
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    @{
                        j++;
                    }
                    <td>@j</td>
                    <td>@Model[i].Id</td>
                    <td>@Model[i].TransID</td>
                    <td>
                        @Model[i].AgentName <br>
                        @Model[i].CEANo
                    </td>
                    <td> @Model[i].ProjectNane </td>
                    <td> @Model[i].Date?.ToShortDateString()</td>
                    <td>
                        @Model[i].TransactedPrice?.ToString("#,##0") <br>
                        @Model[i].TransactedCol?.ToString("#,##0")
                    </td>
                    <td>
                        @Model[i].GrossValue?.ToString("#,##0")<br />
                        @Model[i].NetValue?.ToString("#,##0")
                    </td>
                </tr>
            }
        }
</table>



@*asp-route-keySearch="@ViewBag.KKK"*@
