@using Service.Application.DTOs;
@using System.Globalization;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model IPagedList<TableDTOs>;

@{
    int j = 0;
}


<div class="d-flex justify-content-between align-items-center mt-5">
    <div>
        <button id="handleExport" class="btn btn-info">Export Excel</button>
    </div>
    <div class="d-flex justify-content-between align-items-center">

        <div class="m-4"><button id="handleExport" class="btn btn-success">Total Record: @Model.TotalItemCount</button></div>

        <div class="me-3">
            <select id="dropdown" class="form-select form-select-lg mr-3" aria-label=".form-select-lg example">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="70">70</option>
                <option value="100">100</option>
            </select>
        </div>

        <div>
            @Html.PagedListPager(Model, page => Url.Content($"{page}"), new PagedListRenderOptions()
            {
            ActiveLiElementClass = "active",
            PageClasses = new[]{ "page-link"},
            LiElementClasses=new[] { "page-item" },
            UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
            LinkToNextPageFormat = "Next",
            LinkToPreviousPageFormat = "Previous",
            MaximumPageNumbersToDisplay = 5,
            })
        </div>

    </div>
</div>

<div class="mb-5">
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>ID</th>
                    <th>TransID</th>
                    <th rowspan="1">
                        AgentName<br />
                        CEANO
                    </th>
                    <th>Project Name</th>
                    <th>SubDate / Rcv Date</th>
                    <th scope="col">
                        Transacted Price <br />
                        Trasaction Column
                    </th>
                    <th scope="col">
                        Gross Value <br />
                        Net Value
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        @{
                            j++;
                        }
                        <td>@j</td>
                        <td>@item.Id</td>
                        <td>@item.TransID</td>
                        <td>
                            @item.AgentName <br>
                            @item.CEANo
                        </td>
                        <td> @item.ProjectNane </td>
                        <td> @item.Date?.ToShortDateString()</td>
                        <td>
                            @Html.FormatValue(item.TransactedPrice, "${0:0,0}") <br>
                            @Html.FormatValue(item.TransactedCol, "${0:0,0}")
                        </td>
                        <td>
                            @Html.FormatValue(item.GrossValue, "${0:0,0}")
                            @Html.FormatValue(item.NetValue, "${0:0,0}")
                        </td>
                    </tr>
                }
        </table>
    }
</div>
