
@using Service.Application.DTOs;
@model List<TableDTOs>

@{
    int j = 0;
}

<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>ID</th>
            <th>TransID</th>
            <th rowspan="1">
                AgentName<br />
                CEANO
            </th>
            <th>Project Name</th>
            <th>SubDate / Rcv Date</th>
            <th scope="col">
                Transacted Price <br />
                Trasaction Column
            </th>
            <th scope="col">
                Gross Value <br />
                Net Value
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            @if(Model[i].Gcedata.Count > 0)
            {
                @for (int k = 0; k < Model[i].Gcedata.Count; k++)
                {
                    <tr>
                        @{
                            j++;
                        }
                        <td>@j</td>

                        <td>@Model[i].Gcedata[k].Id</td>

                        <td>@Model[i].Gcedata[k].TransId</td>

                        <td>
                            @Model[i].Gcedata[k].AgtCeano <br>
                            @Model[i].Gcedata[k].AgtBizName
                        </td>

                        <td> @Model[i].ProjectNane </td>

                        <td> @Model[i].Gcedata[k].SubDate.ToShortDateString()</td>

                        <td>
                            @Model[i].TransactedPrice?.ToString("#,##0") <br>
                            @Model[i].TransactedCol?.ToString("#,##0")
                        </td>

                        <td>
                            @Model[i].Gcedata[k].GrossValue.ToString("#,##0")<br />
                            @Model[i].Gcedata[k].NetValue.ToString("#,##0")
                        </td>
                    </tr>
                }
            }
            else
            {
                @for (int k = 0; k < Model[i].Gcrdata.Count; k++)
                {
                    <tr>
                        @{
                            j++;
                        }
                        <td>@j</td>

                        <td>@Model[i].Gcrdata[k].Id</td>

                        <td>@Model[i].Gcrdata[k].TransId</td>

                        <td>
                            @Model[i].Gcrdata[k].AgtCeano <br>
                            @Model[i].Gcrdata[k].AgtBizName
                        </td>

                        <td> @Model[i].ProjectNane </td>

                        <td> @Model[i].Gcrdata[k].RcvDate.ToShortDateString()</td>

                        <td>
                            @Model[i].TransactedPrice?.ToString("#,##0") <br>
                            @Model[i].TransactedCol?.ToString("#,##0")
                        </td>

                        <td>
                            @Model[i].Gcrdata[k].GrossValue.ToString("#,##0")<br />
                            @Model[i].Gcrdata[k].NetValue.ToString("#,##0")
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
